@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* -----------header start-----------*/
.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* multiple start */
.navbar,
.carusel-banner {
    display: flex;
    flex-wrap: wrap;
    width: 83%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

/* multiple end */
.logo-text {
    font-size: 24px;
    color: #3A3A3A;
    font-weight: bolder;

}

.nav>a {
    font-size: 16px;
    color: #3A3A3A;
    text-decoration: none;
    margin-left: 25px;
}

.nav>a:hover {
    color: black;
}

/* carusel banner start */
.carusel-banner {
    margin: 50px 0px;
}

.banner-details,
.banner-img {
    width: 45%;
}

.banner-heading {
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 70px;
}

.banner-description {
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    line-height: 24px;

}

.btn {
    background-color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    padding: 13px 30px;
    border: none;
    color: white;
    margin-top: 15px;
}

.btn-radius {
    border-radius: 30px;
}

.btn:hover {
    background-color: #d6145b;
}

.fa-solid {
    margin-left: 7px;
}

.banner-img {
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-origin: border-box;
    padding: 20px 0px;
    background-position: right;
    display: flex;
    justify-content: flex-end;
}

.banner-img>img {
    width: 82%;
}

.banner-img>img:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

/* -----------header end----------*/
/* main start */
.main {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-width {
    width: 75%;
    margin: 50px 0px;
}

.sponser {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;


}

/* products section start*/
.container {
    width: 70%;
    margin: 50px 0px;
}

.products-section-heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: 1px 1px 10px rgb(183, 181, 181);
    border-radius: 5px;
    margin: 20px 0px;

}
.product-img{
    overflow: hidden;


}
.product-img>img {
    width: 100%;
}
.product-img>img:hover {
    transform: scale(1.2);
    transition: transform 1.5s ease-in;
}

.product-name {
    font-size: 28px;
    color: #18191F;
    font-weight: 500;
    margin: 0px;
}

.product-price {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 100;
    margin: 5px 0px 0px 0px;

}

.rating>p {
    margin: 5px 0px 0px 0px;
    font-size: 14px;

}

.rating>p small {
    font-size: 14px;
    color: #5E6366;
    margin-left: 15px;
}

.yellow {
    color: #FB8200;
}

.white-smoke{
    color: rgb(180, 179, 179);
}
.white{
    color: white;
}
.product-description {
    color: #787885;
    font-size: 14px;
}
.see-more{
    text-align: end;
    color: pink;
}
.see-more>a{
    color: #E02C6D;
    text-decoration: none;
    font-weight: bold;
}
/* products section end*/
/* featured section start */
.fetured-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.featured-img {
    width: 36%;
    display: flex;
    align-items: center;

}

.featured-img>img {
    width: 100%;
}

.featured-details {
    width: 55%;
}

.featured-heading {
    font-size: 38px;
    color: #0A0826;
    font-weight: 700;
    margin-top: 0px;
}

.featured-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;

}

/* featured section end */
/* ----footer start----*/
.footer {
    width: 100%;
    background-color: #0A0826;
    display: flex;
    justify-content: center;
    padding: 40px 0px;


}
.fotter-div{
    text-align: center;
}

.footer-heading {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
.footer-para{
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}
.social-div span a{
    background-color:#2E185D;
    padding: 2px 5px;
    border-radius: 100px;
    font-size: 20px;

}